.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;

  @media (min-width: 900px) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__aside {
    padding: 40px;
  }

  &__main {
    background-color: hsl(240, 90%, 33%);
  }
  &__aside {
    background-color: hsl(300, 90%, 33%);
  }
}
