.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  // max-width: 1000px;
  width: min(100% - 40px, 1000px);
  margin-inline: auto;
  // padding-left: 20px;
  // padding-right: 20px;
  @media (min-width: 900px) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  // @media (max-width: 899px) {
  //   padding-left: 20px;
  //   padding-right: 20px;
  // }

  &__main,
  &__aside {
    padding: 40px;
  }

  &__main {
    background-color: hsl(240, 90%, 33%);
  }
  &__aside {
    background-color: hsl(300, 90%, 33%);
  }
}
